page-user {
    .content-bgc {
        background-color: #e8e8e8;
    }
    .marginTop{
        margin-top: 10px;
    }
    .marginBottom{
        margin-bottom: 10px !important;
    }
    .paddingTop{
        padding-top: 10px !important;
    } 
}
